@{
    Layout = null;
}



<!DOCTYPE html>
<html lang="en">
<head>
    <title>Knits</title>
    <meta name="Author" content="KNITS, flitts">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">


    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#c4c6c9">
    <meta name="theme-color" content="#c4c6c9">
    <link href="/favicon.ico" rel="shortcut icon">


    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/animate.min.css" rel="stylesheet" />

    @*<link href="/content/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="/Site.css" rel="stylesheet" />


    <script src="/Scripts/jquery-1.10.2.min.js"></script>

    <script src="/Scripts/jquery-2.2.0.js"></script>

    <style type="text/css">
        #mc_embed_signup input.mce_inline_error {
            border-color: #6B0505;
        }

        #mc_embed_signup div.mce_inline_error {
            margin: 0 0 1em 0;
            padding: 5px 10px;
            background-color: #6B0505;
            font-weight: bold;
            z-index: 1;
            color: #fff;
        }
    </style>

    <style>
        #body-wrapper {
            max-width: 100%;
        }

        #body-content {
            margin-top: 0;
            padding-top: 0;
        }

        .bgcontent {
            background-image: url('../../Content/Images/prerelease.jpg');
            background-size: cover;
            background-position: center top;
            background-repeat: no-repeat;
            height: 1280px;
        }

        #my-welcome-message {
            display: block;
        }
    </style>


    <!-- Facebook Pixel Code -->
    <script>
        !function (f, b, e, v, n, t, s) {
            if (f.fbq) return; n = f.fbq = function () {
                n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
            }; if (!f._fbq) f._fbq = n;
            n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
            t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
        }(window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1336575399796305'); // Insert your pixel ID here.
        fbq('track', 'PageView');
    </script>

    <noscript>
        <img height="1" width="1" style="display:none" src="https://www.facebook.com/tr?id=1336575399796305&ev=PageView&noscript=1" />
    </noscript>

    <script>
        fbq('track', 'ViewContent');
    </script>

    <!-- End Facebook Pixel Code -->


</head>
<body>
    <div>

        @*<div id="sidebar-fixed" class="sidebar hidden-xs hidden-sm">
            <a href="/">
                <img src="/Themes/v1/Content/images/logo.png" title="KNITS" class="img-responsive store-logo center-block" /></a>


            <div class="sidebar-menu">
                <!-- menu -->
                <!--end menu -->
            </div>
        </div>*@

        <div  class="bgcontent"  >
           <!-- body -->
            @*<img src="~/Content/Images/prerelease.jpg" class="img-responsive" />*@
            <!-- end body-->
            <div id="my-welcome-message">

                <div class="row">
                    <div class="hidden-xs col-sm-4">
                        <img src="/newsletter.jpg" class="img-responsive" />

                    </div>
                    <div class="col-xs-12 col-sm-8" style="padding-left:30px; padding-right:30px;">
                        <div id="mc_embed_signup">
                            <div class="nieuwsbrief-popup">

                                <p class="mt-20">
                                    Hello!
                                </p>
                                <p class="mt-20 mb-20" style="text-align:justify">
                                    Join our KNITS community to be among the first to peep at our upcoming launches and receive exclusive promotions.
                                    Sign up to our enewsletter today and check your email inbox for your special welcome gift, with love from us.

                                </p>
                                <br />
                                <!-- Begin MailChimp Signup Form -->

                                <form action="//knitscapsule.us15.list-manage.com/subscribe/post?u=7ecf1024a35ab516f9e800b2c&amp;id=87df6a1a0f" method="post" id="mc-embedded-subscribe-form"
                                      name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

                                    <input type="email" class="form-control tbemail" id="mce-EMAIL" placeholder="ENTER YOUR EMAIL ADDRESS HERE" name="EMAIL" required="required" style="text-align:left" />
                                    <button type="submit" class="btn btn-default btn--send" value="JOIN NOW" name="subscribe" id="mc-embedded-subscribe">JOIN NOW</button>

                                    <div id="mce-responses" class="clear">
                                        <div class="response" id="mce-error-response" style="display:none"></div>
                                        <div class="response" id="mce-success-response" style="display:none"></div>
                                    </div>

                                </form>
                            </div>

                            <!--End mc_embed_signup-->
                        </div>





                        <div id="nieuwsbrief-msg-popup" style="display:none;">
                            Thank you.<br />
                            You're almost done. Please confirm your email address to complete your subscription.
                        </div>

                    </div>
                </div>


            </div>
            <!--footer -->
            <!-- end footer -->
        </div>
    </div>

    <div id="fvpp-blackout" style="display: block;"></div>

    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/jquery.easing.1.3.js"></script>
    <script>
        $(".btn--send").click(function () {
            $(".nieuwsbrief-popup").css("display", "none");

            $("#nieuwsbrief-msg-popup").css("display", "block");

        });

    </script>
</body>
</html>
